#### ignore files without extensions ####
*
!/**/
!*.*
#########################################

*.rds
!wine2_normal_first_level2.RDS
.vscode
*.exe
.Rproj.user
*.aux
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv
