#### ignore files without extensions ####
*
!/**/
!*.*
#########################################

*.rds
!*.RDS
inst/cases/treatment_dynamics/3-poisson-model/*.RDS
.vscode
*.exe
.Rproj.user
*.aux
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
*.xdv
